body {
    background-image: url(images/ShiplapBackgrounf.png);
<<<<<<< HEAD
}
=======
    cursor: url("images/champagne-pointer.png"), default !important;
} 
>>>>>>> 1d3e12659985c689a27c7ab897007824efcacc66

.jumbotron {
    background-image: url(images/Header.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    margin-bottom: 25px;
}

h1 {
<<<<<<< HEAD
    font-family: 'Life Savers', cursive;
    text-align: center;
    position: relative;
    font-size: 500%;
    bottom: -100%;
    margin-bottom: 50px;
=======
    color: black;
    font-family: 'Rochester', cursive;
    text-align: center;
    position: relative;
    font-size: 525%;
    bottom: -100%;
    margin-bottom: 50px;
    
>>>>>>> 1d3e12659985c689a27c7ab897007824efcacc66
}

form {
    margin-top: 100px;
<<<<<<< HEAD
    width: 75%;
=======
    width: 70%;
>>>>>>> 1d3e12659985c689a27c7ab897007824efcacc66
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 15px;
}

<<<<<<< HEAD
.card {
    width: 80%;
    margin: 0 auto;
}
=======
#submit:hover {
    cursor: url("images/mouse-glass.png"), default !important;
    background-color: pink;
    color: black
}

.btn-primary {
    color: black;
    background-color: lightpink;
    align-self: center;
    font-family: 'Tajawal', sans-serif;
    padding-bottom: 1px;
    padding-top: 8px;
}

.heading {
    font-family: 'Tajawal', sans-serif;
}

.form-group {
    margin-top: 10px;
}

>>>>>>> 1d3e12659985c689a27c7ab897007824efcacc66
