body {
    background-image: url(images/ShiplapBackgrounf.png);
    cursor: url("images/champagne-pointer.png"), default !important;
} 

.jumbotron {
    background-image: url(images/Header.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    margin-bottom: 25px;
}

h1 {
    color: black;
    font-family: 'Rochester', cursive;
    text-align: center;
    position: relative;
    font-size: 525%;
    bottom: -100%;
    margin-bottom: 50px;
    
}

form {
    margin-top: 100px;
    width: 70%;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 15px;
}

#submit:hover {
    cursor: url("images/mouse-glass.png"), default !important;
    background-color: pink;
    color: black
}

.btn-primary {
    color: black;
    background-color: lightpink;
    align-self: center;
    font-family: 'Tajawal', sans-serif;
    padding-bottom: 1px;
    padding-top: 8px;
}

.heading {
    font-family: 'Tajawal', sans-serif;
}

.form-group {
    margin-top: 10px;
}

